html {
    font: 10px Arial;
}

.main-title {
    color: #84BBE1;
    font-size: 1.5rem;
    margin: 5rem;
    text-align: center;
}

.main-title span {
    color: #0C4683;
}

.elements-first-container {
    display: grid;
    grid-template-columns: repeat(18, 6rem);
    grid-template-rows: minmax(7, auto);
    grid-gap: 1px;
    text-align: center;
    justify-content: center;
}

.first-column {
    grid-column: 1;
    grid-row: 1 / 7;
}

.second-column {
  grid-column: 2;
  grid-row: 2 / 7;
} 

.third-column {
    grid-column: 3;
    grid-row: 4 / 7;
}

.fourth-column {
    grid-column: 4;
    grid-row: 4 / 7;
}

.fifth-column {
    grid-column: 5;
    grid-row: 4 / 7;
}

.sixth-column {
    grid-column: 6;
    grid-row: 4 / 7;
}

.seventh-column {
    grid-column: 7;
    grid-row: 4 / 7;
}

.eighth-column {
    grid-column: 8;
    grid-row: 4 / 7;
}

.nineth-column {
    grid-column: 9;
    grid-row: 4 / 7;
}

.tenth-column {
    grid-column: 10;
    grid-row: 4 / 7;
}

.eleventh-column {
    grid-column: 11;
    grid-row: 4 / 7;
}

.twelveth-column {
    grid-column: 12;
    grid-row: 4 / 7;
}

.thirteenth-column {
    grid-column: 13;
    grid-row: 2 / 7;
}

.fourteenth-column {
    grid-column: 14;
    grid-row: 2 / 7;
}
.fifteenth-column {
    grid-column: 15;
    grid-row: 2 / 7;
}
.sixteenth-column {
    grid-column: 16;
    grid-row: 2 / 7;
}

.seventeenth-column {
    grid-column: 17;
    grid-row: 2 / 7;
}

.eighteenth-column {
    grid-column: 18;
    grid-row: 1 / 7;
}

.elements-second-container {
    text-align: center;
}
.nineteenth-column, .nineteenth-column div {
    display: inline-flex;
    margin: 1rem 1px 1px 1px;
    text-align: center;
}
.twentyth-column, .twentyth-column div {
    display: inline-flex;
    margin: 1px 1px 3rem 1px;
    text-align: center;
}

.individual-container {
    border: 2px solid #757575;
    font-weight: bold;
    font-size: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
    padding: 2rem;
    width: 1.5rem;
}

.elementsTypes {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 8rem;
}
.elementsTypes fieldset {
    padding: 0;
    border: none;
}

.elementsTypes #legend {
    background-color: #CCCCCC;
    font-weight: bold;
    font-size: 1.2rem;
    padding : 1rem 30.5rem 2.5rem 30.5rem;
}

.elementsTypes #legend2 {
    background-color: #CCCCCC;
    font-weight: bold;
    font-size: 1.2rem;
    padding : 1rem 12rem 2.5rem 12rem;
}

.elementsTypes label {
    font-weight: bold;
    font-size: 10.5px;
    padding: 1.5rem;
}